// RESETING
* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff9f2;
  color: #2f327d;
}

// NAVIGATION STYLE
.navbar {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 20px 8%;
  background-color: #fff2e1;
}
.logo {
  display: flex;
  align-items: center;
}
.logo a {
  font-size: 32px;
  font-weight: 700;
  color: #113c49;
  text-decoration: none;
}
 .nav-links a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #2f327d;
  padding-inline: 40px;
  
}
.nav-buttons {
  display: flex;
  gap: 20px;
}
.btn-login {
  background-color: #ffffff;
  color: #6c6c6c;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 35px;
  margin-bottom: 35px;
}
.btn-signup {
  background-color: #f48c06;
  border-radius: 30px;
  padding: 12px 30px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 35px;
}
.logo-icon {
  width: 30px;
  height: 75px;
}

// HERO SECTION STYLE
.hero-container {
  display: flex;
  background-color: #fff2e1;
  border-bottom-left-radius: 50% 80px;
  border-bottom-right-radius: 50% 80px;
}

// CONTENT LEFT
.hero-content {
  max-width: 900px;
  padding: 80px;
}
.hero-content h1 {
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
  color: #2f327d;
  margin-bottom: 20px;
  font-weight: 900;
}
.hero-content h1 span {
  color: #f48c06;
}
.hero-content p {
  color: #696984;
  font-size: 23px;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 480px;
}

// BUTTONs
.buttons {
  display: flex;
  gap: 40px;
}

.btn-1 {
  background-color: #f48c06;
  color: #fff;
  border: none;
  padding: 16px 36px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 250px;
  cursor: pointer;
}

// CONTENT RIGHT
.hero-image {
  max-width: 50%;
  width: 100%;
}
.header-pic {
  width: 100%;
  height: 600px;
  display: block;
}

.play {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 120px;
  gap: 20px;
}

.btn-2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons p {
  font-weight: 500;
  color: 2f327d;
  font-size: 15px;
  margin-top: 30px;
}
